

/*MENU*/

.nav-item{
	--bs-navbar-nav-link-padding-x: 50px;
}

#menu{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

#menu a{
	text-decoration: none;
}

@media(max-width: 1399px){
	#calculator{
		width: 200px!important;
	}
}


/*****HOME*****/

/*FIRST SLIDER*/

#firstSlider{
	height: 130px;
}

#leftPanelFirstSlider{
	padding-top: 40px;
	background-image: linear-gradient(to right, #3399ff, white, #3399ff, white);
}

#leftPanelFirstSlider h1{
	margin-left: 70px;
}

#leftPanelFirstSlider h2{
	margin-right: 30px;
}

#rightPanelFirstSlider{
	font-size: 20px;
	text-align: center;
	padding-top: 15px;
}

/*MAIN PANEL*/

#mainPanel{
	height: 500px;
}

@media(max-width: 767px){
	#mainPanel{
	margin-top: 140px;
	}
}

#rightPanel{
	border-right: solid 1px;
	border-color: rgba(0, 0, 0, 0.175);
	background-color: #cce5ff;
}


#mainContent{
	background-image: url("../img/background.avif");
}



.mainPanelRightBox{
	width: 95%;
	height: 100px;
	border: solid 1px #1e57ad;
	margin: 10px auto;
	background-color: #1e57ad;
	color: white;
	padding: 10% 10px;
	text-align: center;
	border-radius: 5%;
}

#rightPanel a{
	text-decoration: none;
	color: white;
}

.mainPanelRightBox i{
	font-size: 40px;
	float: left;
}

.mainPanelRightBox h6i{
	float: right;
}



/*CALENDAR*/
.calwid_body {
padding:3px;
margin:3px;
color:#000;
}
.calwid_body A {
color:#000;
text-decoration:none;
}
.calwid_day {
font-weight:bold;
}
.calwid_name1 {
font-weight:bold;
}
.calwid_name2 {
font-weight:bold;
}



.card{
	margin: 20px 0 20px 10px;
}

.card-text{
	height: 100px;
	overflow: auto;
}


#fullMessage1{
	border: 1px solid;
	border-radius: 5px;
	margin: 25px auto;
	width: 95%;
	padding: 20px;
	 box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
	border-color: rgba(0, 0, 0, 0.175);
	display: none;
	background-color: #f2f2f2;
	opacity: 0.9;
}

#fullMessage2{
	border: 1px solid;
	border-radius: 5px;
	margin: 25px auto;
	width: 95%;
	padding: 20px;
	 box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
	border-color: rgba(0, 0, 0, 0.175);
	display: none;
	background-color: #f2f2f2;
	opacity: 0.9;
}

#fullMessage3{
	border: 1px solid;
	border-radius: 5px;
	margin: 25px auto;
	width: 95%;
	padding: 20px;
	 box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
	border-color: rgba(0, 0, 0, 0.175);
	display: none;
	background-color: #f2f2f2;
	opacity: 0.9;
}









